<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Lyderių lentelė
        </div>
        <div class="card-body">
            <table class="table">

                <thead>
                    <tr>
                        <th>Vardas</th>
                        <th>Testo pavadinimas</th>
                        <th>Rezultatas</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let leader of leaders; let i=index">
                        <td>{{ leader.name }}</td>
                        <td>{{ leader.test }}</td>
                        <td>{{ leader.points }}</td>
                        <td>{{ leader.data }}</td>
                    </tr> -->

                </tbody>

            </table>
        </div>
    </div>
</div>